.container{
    height:100px;
    width: 150px;
    background-color: rgb(216, 128, 12);
    box-shadow: 20px 20px 20px black;
}
.block{
    height: 50px;
    text-shadow: 10px 10px 10px rgb(16, 15, 15);


}