.flex-container{
    display: flex;
   text-align: center;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    text-shadow: 2px 2px white;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: rgb(226, 239, 52);
    /*
    transition: width 2s;
    
    transition-delay:  width 15s;
    */
    transition-duration: 2s;               
      transition-property: width;
                 transition-timing-function: unset;
                 transition-delay: 1s;

}
.box2:hover{
    width:200px;
}
.box3{
    height: 100px;
    width: 100px;
    background-color: rgb(60, 102, 208);
}
.box4{
    height: 100px;
    width: 100px;
    background-color: rgb(170, 51, 132);
}